.info {
  display: flex;
}
.video {
  @include text;
  color: red;
}
.avatar {
  @include text;
  color: green;
}
.title {
  @include text;
  color: lime;
}
.points {
  @include text;
  color: blue
}
.desc {
  @include text;
  color: $accent;
}
