// box manipulators
$spacing: 2;
$padding: 7;
$radii: 7;
$font-size: 20px;

// Colors
$bg: #181825;
$fg: #CDD6F4;
$accent: #CBA6F7;
$accentfg: $bg;

// player
$rhap_theme-color: $accent !default;
$rhap_background-color: $bg !default;
$rhap_bar-color: lighten($bg, 5) !default;
$rhap_time-color: $fg !default;
$rhap_font-family: inherit !default;
